:root {
  --bg: rgb(31, 31, 31);
  --bg-secondary: rgb(62, 62, 62);
  --bg-tertiary: rgb(92, 92, 92);
  --bg-result: rgb(231, 231, 231);
  --accent: rgb(123, 145, 255);
  --accent-light: rgb(246, 246, 246);
  --accent-dark: rgb(103, 103, 103);
  --text-light: rgb(235, 235, 235);
  --text-dark: black;
  --green: rgb(96, 242, 96);
  --red: rgb(255, 119, 119);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  background: var(--bg);
  align-items: center;
}

body {
  padding-top: 100px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}

h1 {
  margin-bottom: 30px;
  color: var(--text-light);
  text-align: center;
}

#logo {
  margin-bottom: 10px;
  width: 400px;
}

code {
  border-radius: 15px;
  color: var(--text-dark);
  background: var(--accent-light);
  padding: 4px 6px;
}

a {
  text-decoration: none;
  color: var(--accent);
}

#resultWrapper {
  border: 2px solid var(--accent-dark);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--bg-result);
  padding: 40px;
  text-align: center;
}

#resultWrapper #result {
  max-width: 100%;
  max-height: 100%;
}

#code {
  width: 100%;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid var(--accent-dark);
  color: var(--text-light);
  border-radius: 20px;
  background: var(--bg-tertiary);
  font-size: 17px;
  overflow: scroll;
}

#code:focus {
  outline: none;
  border-color: #39f;
}

#error {
  /* height: 40px; */
  color: var(--red);
  margin: 2%;
  display: flex;
  text-align: left;
  align-items: center;
}

#error:not(.hasError) {
  color: var(--green);
}

#sharing {
  color: var(--green);
  margin: 2%;
  transition: opacity 0.12s ease-in-out;
  text-align: center;
  opacity: 0;
}

.hint {
  text-align: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  gap: 5px;
}

.btn-wrapper button:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn-wrapper button:nth-child(2) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

button {
  padding: 9px 16px;
  border: none;
  text-transform: uppercase;
  background: #39f;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.12s ease-in-out;
}

button:hover {
  opacity: 0.9;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.col {
  margin: 10px;
  max-width: 594px;
  flex-grow: 1;
  flex-basis: 0;
}

.grid.shapeCodes > .col {
  margin: 0;
}

.infoBox {
  color: var(--text-light);
  border: 2px solid var(--accent-dark);
  border-radius: 20px;
  background: var(--bg-secondary);
  padding: 20px;
}
.infoBox h3 {
  margin-top: 20px;
}

.shapeCodes code {
  background: #fff;
  padding: 2px 5px;
  margin-right: 6px;
}

.shapeCodes li {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.colorPreview {
  border-radius: 50px;
  width: 9px;
  height: 9px;
  display: inline-block;
  border: 1px solid #333538;
  margin-left: 3px;
  margin-right: 10px;
}

.example {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-items: start;
  margin-bottom: 3px;
  grid-gap: 10px;
  padding: 3px;
}
.example:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
}

.example button {
  border-radius: 20px;
  padding: 4px 6px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #aaa;
  text-align: center;
}

.footer a {
  color: rgb(119, 119, 119);
  padding: 5px;
  transition: color 0.12s ease-in-out;
}

.footer a:hover {
  color: var(--text-light);
}

@media screen and (max-width: 768px) {
  .col {
    margin: 2%;
    display: flexbox;
  }

  .grid {
    flex-direction: column;
  }
  .col {
    box-sizing: border-box;
    max-width: none;
  }
  #error {
    /* margin: 2%; */
    padding: 0 10px;
  }
}
